#navMenuDesktop {
	background-color: #999999;
}

.navLink {
	color: #0066CC;
}

#mobileDropdownContent{
	display: none;
  	position: absolute;
	background-color: blueviolet;
}

#navMenuMobile {
	background-color: #999999;
	max-width: 100%;
	min-width: 100%;	
}

#robinBertuccelli {
	margin: 5px 3px 0px 3px;
	line-height: 110%;
}

#webDeveloper {
	margin: 5px 3px 5px 3px;
}

@media screen and (max-width: 800px) {
	#navContainerDesktop {display:none;}
}

@media screen and (min-width: 800px) {
	#navContainerMobile {display: none}
}