#container {
	padding-top:20px;
	margin-top:20px;
}

#segmentContainer {
	
}

.portfolioCard {
	text-align: center;
	
}

#tonyTheScribeCard {
	background: #CCCCCC;
	
}

#vickyJenkinsCard {
	background: #CCCCCC;
}

#candiMatchCard {
	
	background: #CCCCCC;

}

#walkingDeadCard {
	background: #CCCCCC;	
}

#petMatchCard {
	background: #CCCCCC;

}
#segmentContainer {
	
}
.portfolioCard {
	background: #CCCCCC;
	
}
#nytReactSearchCard {
	background: #CCCCCC;
}

#myShinDigCard {
	background: #CCCCCC;
}

#officialPortfolioCard {
	background: #CCCCCC;
}



h5 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h1 {
	margin: 0px 0px 14px 15px;
}
Grid.Column {
	
}