#robinCircleLeft {
	position: relative;
  padding-left: 3px;
  width: 175px;
}

#headShotIntroText {
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: wrap;
  background: rgba(255,255,255, .2);
  color: #000000;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#robinsDesk {
  
}
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

#robinCircleLeft:hover .overlay {
  opacity: 1;
}

.Container {
	box-sizing: border-box;
}
.tableLogo {
 background: red;


}

.tableStyle {
  overflow-x:auto;

}

Image {
  text-align: center;

}

.nav-link {


}
.image {
  text-align: center;
}