
#paragraph1, #paragraph2 {
  font-size: 1.2em;
}
h3::first-letter {
  font-weight: bolder;
  }
h3 {
  line-height: 1.6;
}

#robinCircleLeft {
	position: relative;
  padding-left: 30px;
  padding-bottom: 30px;
  width: 200px;
}

#headShotIntroText {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: wrap;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#headerPhoto {
  padding-top: 50px;
  margin-top: 40px;
  position: relative;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

#robinCircleLeft:hover .overlay {
  opacity: 1;
}

.Container {
	box-sizing: border-box;
}
.tableLogo {
 background: red;


}

.tableStyle {
  overflow-x:auto;

}


.nav-link {


}
