p {
	font-size: 15px;
}

#neilGaimanCard {
	background: #CCCCCC;
}

#brettFavreCard {
	background: #CCCCCC;
}

#cenexGuyCard {
	background: #CCCCCC;
}
 #duracellIowaCard {
 	background: #CCCCCC;

 }
 .portfolioCard {
	 text-align: center;
 }